<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <!--<typeAliases>-->
        <!--<package name="com.huijiame.order.entity"/>-->
    <!--</typeAliases>-->

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!--下面的参数详解见http://git.oschina.net/free/Mybatis_PageHelper/blob/master/wikis/HowToUse.markdown-->
            <property name="dialect" value="mysql"/>
            <property name="reasonable" value="true"/>
            <property name="offsetAsPageNum" value="true"/>
            <property name="rowBoundsWithCount" value="true"/>
            <property name="pageSizeZero" value="true"/>
        </plugin>

        <plugin interceptor="tk.mybatis.mapper.mapperhelper.MapperInterceptor">
            <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>
            <property name="IDENTITY" value="MYSQL"/>
            <property name="notEmpty" value="true"/>
        </plugin>
    </plugins>

</configuration>