<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnblogs.yjmyzz.mapper.user.UserEntityMapper">
    <resultMap id="BaseResultMap" type="com.cnblogs.yjmyzz.entity.UserEntity">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="D_USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="D_USER_NAME" property="userName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>